<template name="TimesheetBackupInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> TimesheetBackupInsertForm}}
	</div>
</template>

<template name="TimesheetBackupInsertForm">
	<div id="timesheet-backup-insert-form" class="">
		<h2 id="component-title">
			New Timesheet Backups
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-project-id">
				<label for="projectId">
					Projects
				</label>
				<div class="input-div">
					<select class="form-control " name="projectId" data-type="string" autofocus="autofocus">
						{{#each my_projects}}
						<option value="{{_id}}">							{{title}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-date">
				<label for="date">
					Date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="date" value="" class="form-control " data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-from_time">
				<label for="from_time">
					From
				</label>
				<div class="input-div">
					<select class="form-control " name="from_time" data-type="time">
						<option value="12:00" selected>							12:00</option>
						<option value="12:15">							12:15</option>
						<option value="12:30">							12:30</option>
						<option value="00:00">							00:00</option>
						<option value="13:00">							13:00</option>
						<option value="13:15">							13:15</option>
						<option value="13:30">							13:30</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-to_time">
				<label for="to_time">
					To
				</label>
				<div class="input-div">
					<select class="form-control " name="to_time" data-type="time">
						<option value="12:00" selected>							12:00</option>
						<option value="12:15">							12:15</option>
						<option value="12:30">							12:30</option>
						<option value="12:45">							12:45</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

